.container {
    max-width: 1200px;
    height: 80vh;
    width: 100%;
    border-radius: 4px;
    /* background: linear-gradient(to bottom right, #7887E6, #ADDFF8); */
    background-color: #FFF;
    overflow-y: scroll;
    border: 1px solid #7386FF;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #7887E6;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background-color: #F5f6f5;
}

.container .box {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.msg {
    padding: 8px;
    /* position: relative; */
    /* width: 100%; */
    display: flex;
    
}   

.msg .span-msg {
    position: relative;
    right: 0;
    max-width: 60%;
    padding: 12px;
    /* background: #FFF; */
    background-color: #e6e9ff;
    border-radius: 10px;
    margin-left: 32px;
}

.msg.bot .span-msg::before{
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg, #e6e9ff 0%, #e6e9ff 50%, transparent 50%, transparent);
}

.msg.bot .span-msg::after{
    content: '';
    position: absolute;
    top: 0;
    left: -48px;
    width: 40px;
    height: 40px;
    background-image: url("../../assets/robot.svg");
    background-size: 40px 40px;
}

.human{
    justify-content: flex-end ;
}

#sp-human{
    background-color: #7386FF;
}

.msg.human .span-msg::before{
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #7386FF 0%, #7386FF 50%, transparent 50%, transparent);
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin-top: 5px;
    display: flex;
}

.wrapper input {
    width: 100%;
    height: 44px;
    padding: 0 10px 0 25px;
    border-radius: 7px;
    border: 1px solid #7386FF;
    margin-bottom: 30px;
}

.wrapper button {
    width: 54px;
    border: none;
    border-radius: 7px;
    margin-left: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border: 1px solid #7386FF;
    margin-bottom: 30px;
}

.wrapper button:hover {
    filter: brightness(0.8);
}

.logo {
    margin-top: -20px;
    padding-bottom: 10px;
}

@media (max-width: 1400px){
    .container, .wrapper {
        max-width: 900px;
    }
}


.negrito{
    font-weight: bold;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue{
    color: blue;
}